#subnav{
    display: block;
    width: 260px;
    background-color: #fff;
    position: relative;
    border-bottom: solid 1px #ddd;
    .list{
        height: 66px;
        border: solid 1px #ddd;
        border-bottom: none;
        h3{
            height: 66px;
            line-height: 66px;
            font-size: 18px;
            font-weight: 500;
            text-align: center;
        }
        &:hover {
            background: #f6f1ee;
            border-top: #2c3444 solid 1px;
            border-bottom: #2c3444 solid 1px;
            border-right: #f6f1ee solid 1px;
            border-left: #2c3444 solid 1px;
        }
        &:hover .down-subnav{
            display: block;
        }
        .down-subnav{
            position: absolute;
            top: 0;
            left: 260px;
            width: 236px;
            height: 468px;
            border: #2c3444 solid 1px;
            border-left: none;
            z-index: 9999;
            background:#f6f1ee;
        }
        .item{
            padding: 10px 15px;
            li{
                float: left;
                width: 50%;
                a{
                    display: inline-block;
                    width: 100%;
                    text-align: left;
                    padding: 4px 0;
                    font-size: 14px;
                }
            }
        }
        .item-ad{
            position: absolute;
            bottom: 0;
            padding: 9px;
            li{
                margin-bottom: 10px;
            }
            img{
                width: 100%;
            }
        }
    }
}
.down-subnav{
    display: none;
}
#gc-fabu{
    background: #F35929;
    display: block;
    height: 38px;
    text-align: center;
    line-height: 38px;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 3px;
}

#chengjiao{
    position: relative;
    width: 820px;
    height: 30px;
    overflow: hidden;
    ul{
        display: block;
    }
    li{
        float: left;
        width: 820px;
        height: 30px;
        line-height: 30px;
    }
    .roll-banner-next {
        position: absolute;
        top: 0px;
        right: 10px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-family: 宋体;
        background-color: #2C3444;
        text-align: center;
        font-size: 24px;
        color: rgb(255, 255, 255);
        font-weight: bold;
        z-index: 999;
        .border-radius(5px);
    }
    .roll-banner-prev {
        position: absolute;
        top: 0px;
        right: 50px;
        width: 30px;
        height: 30px;
        line-height: 30px;
        font-family: 宋体;
        background-color: #2C3444;
        text-align: center;
        font-size: 24px;
        font-weight: bold;
        color: rgb(255, 255, 255);
        z-index: 999;
        .border-radius(5px);
    }
}

#xuqiu{
    .title{
        display: block;
        height: 40px;
        li{
            float: left;
            height: 40px;
            line-height: 40px;
            text-align: center;
            font-size: 14px;
            font-weight: 500;
        }
    }
    .item{
        display: block;
        height: 40px;
        border-top: #ddd solid 1px;
        &:hover{
            background:#f6f1ee;
            transition: background 0.3s ease-in;
        }
        li{
            float: left;
            text-align: center;
            display:block;
            height: 40px;
            line-height: 40px;
            span{
                display: block;
                font-size: 12px;
                height: 100%;
            }
            .btn-primary{
                padding: 2px 20px !important;
            }
        }
        .row1{
            width: 478px;
            text-align: left;
            font-size: 14px;
            padding-left: 20px;
            color: #2c3444;
            a{
                display:block;
                width: 100%;
                .ov-text();
                &:hover{
                    text-decoration: underline;
                    .col-cheng();
                }
            }
        }
    }
    .row1{
        width: 498px;
    }
    .row2,.row3,.row4{
        width: 140px;
    }
    .row5{
        width: 250px;
    }

    .row6{
        width:396px;
        padding-left: 12px;
        font-size: 14px;
        a{
            display: block;
            width: 100%;
            text-align: left;
            .ov-text();
            &:hover{
                text-decoration: underline;
                .col-cheng();
            }
        }
    }
    .row7{
        width: 120px;
    }
    .row8{
        width: 140px;
    }
}

.u-tuijian{
    padding: 26px 7px;
    li{
        float: left;
        width: 260px;
        margin: 0 18px;
        overflow: hidden;
        &:hover{
            .box-shadow(0 4px 8px rgba(0, 0, 0, 0.6));
            transition: box-shadow 0.3s ease-in;
        }
    }
    .margin10{
        margin: 10px 9px;
    }
}

// 详情页面
#xiangqing{
    padding: 10px 24px;
    .title{
        line-height: 30px;
        font-size: 18px;
        font-weight: 500;
        border-bottom: #2c3444 solid 1px;
    }
    #project-info-box{
         
        ul li{
            width: 50%;
            height: 32px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
            float: left;
            padding: 5px 0;
        }
            .xian{
                border-top: dashed #ddd 1px;
            }
            .tip{
                color: #7b594a;
                font-size: 12px;
            }
    }
    #info,.info{
        padding: 20px 0;
        font-size: 14px;
        color: #2c3444;
        line-height: 180%;
    }
}