.helpside{
	display: block;
	overflow: hidden;
	li{
		display: block;
		dl{
			padding: 0 12px;
			border-bottom: 1px solid #ddd;
			dt{
				line-height: 42px;
				font-size: 16px;
				font-weight: 500;
				color: #7b594a;
				border-bottom: 1px dashed #ddd;
			}
			dd{
				line-height: 34px;
				a{
					display: block;
					span{
						display: inline-block;
						float: right;
					}
				}
				&:hover{
					text-decoration: underline;
					color: #f35929;
					span{
						margin-right: 12px;
						transition: .6s;
					}
				}
				.current{
					text-decoration: underline;
					color: #f35929;
					span{
						margin-right: 12px;
						transition: .6s;
						-moz-transition: .6s;
						-webkit-transition: .6s;
						-o-transition: .6s;
					}
				}
			}
		}
	}
	.title{
		height: 48px;
		line-height: 48px;
		border-bottom: 1px solid #ddd;
		font-size: 18px;
		font-weight: 600;
		text-align: center;
	}
}
.helpcent{
	display: block;
	padding: 0 12px;
	overflow: hidden;
	.title{
		line-height: 48px;
		font-size: 18px;
		font-weight: 600;
		color: #7b594a;
		border-bottom: 1px solid #ddd;
	}
	.list{
		display: block;
		padding-bottom: 18px;
		li{
			display: block;
			line-height: 32px;
			border-bottom: 1px dashed #ddd;
			a{
				display: block;
			}
			&:hover{
				padding-left: 8px;
				color: #f35929;
				transition: .4s;
				-moz-transition: .4s;
				-webkit-transition: .4s;
				-o-transition: .4s;
			}
		}
	}
	.info{
		display: block;
		padding: 8px 12px;
		overflow: hidden;
		.tit{
			display: block;
			margin-bottom: 8px;
			line-height: 34px;
			text-align: center;
			font-size: 18px;
			font-weight: 500;
			color: #f35929;
		}
		p{
			line-height: 24px;
			margin: 8px auto;
		}
		img{
			width: 100%;
		}
	}
}