#subnav-jc{
    width: 258px;
    background: #FFF;
    position: relative;
    border: #ddd solid 1px;
    border-bottom: none;
    .item{
        height: 39px;
        border-bottom: #ddd solid 1px;
        &:hover{
            background: #fff;
            .title{
                text-indent: 18px;
                background:#f6f1ee;
                color: #2c3444;
                border-top: #2c3444 solid 1px;
                border-bottom: #2c3444 solid 1px;
                border-right: #f6f1ee solid 1px;
                border-left: #2c3444 solid 1px;
            }
        }
        .title{
            display: block;
            width: 100%;
            height: 39px;
            text-indent: 12px;
            line-height: 39px;
            font-size: 18px;
            transition: text-indent 0.3s ease-in;
        }
        &:hover .down-subnav{
            display: block;
        }
        .down-subnav{
            display: none;
        }
        .down-subnav{
            position: absolute;
            top: -1px;
            left: 259px;
            width: 582px;
            height: 360px;
            border: #2c3444 solid 1px;
            border-left: none;
            z-index: 9999;
            background: #f6f1ee;
            overflow: auto;
            .items{
                padding: 10px 15px;
                li{
                    float: left;
                    width: 50%;
                    a{
                        display: inline-block;
                        width: 100%;
                        text-align: left;
                        padding: 4px 0;
                        font-size: 14px;
                    }
                }
            }
        }
        .filtrate-box{
            dt{
                font-size: 16px;
                line-height: 26px;
                padding: 10px 0 5px;
                border-bottom: 1px dashed #d9dce1;
                margin-bottom: 5px;
                a{
                    color: #000;
                    word-wrap: nowrap;
                    word-break: keep-all;
                    white-space: nowrap;
                    .font18;
                }
            }
            dd{
                font-size: 14px;
                line-height: 22px;
                .split{
                    display: inline-block;
                    font-style: normal;
                    width: 10px;
                    text-align: center;
                    color: #e5e5e5;
                }
            }
        }
    }

}

#jc-rk{
    border-top: 4px #2c3444 solid;
    border-right: #ddd solid 1px;
    border-bottom: #ddd solid 1px;
    border-left: #ddd solid 1px;
    font-size: 18px;
    ul{
        .l-float();
    }
    li{
        float: left;
        width: 163.5px;
        height: 64px;
        text-align: center;
        background: #f6f1ee;
        a{
            display: block;
            position: relative;
            line-height: 64px;
            .l-float();
            img{
                float: left;
                margin-top: 16px;
                margin-left: 24px;
                margin-right: 6px;
            }
            span{
                float: left;
            }
        }
    }
}

// 团购页面
#tuangou{
    padding: 4px 0;
    .item{
        width:400px;
        margin:6px;
        padding:4px;
        float: left;
        &:hover{
            -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
            transition: box-shadow 0.3s ease-in;
            img{
                transform: scale(0.95);
                -ms-transform: scale(0.95);
                -moz-transform: scale(0.95);
                -webkit-transform: scale(0.95);
                -o-transform: scale(0.95);
            }
        }
    }
    img{
        transition: all .6s;
        -moz-transition: all .6s;
        -ms-transition: all .6s;
        -webkit-transition: all .6s;
    }
    .title{
        &:hover{
            .col-cheng();
        }
        .hover-link();
    }
    .number{
        margin-top: 14px;
    }
    .price-end{
        padding-left: 10px;
        color: #b5ab9f;
        text-decoration:line-through;
    }
}

// 预采
#yucai{
    padding: 4px 0;
    .bg-yucai-btn{
        height: 40px;
        padding: 12px 0 12px 10px;
        background: url(../../images/jiancai/icon-yucai-btn.png) left center no-repeat;
    }
    .item{
        position: relative;
        width:320px;
        margin: 20px auto;
        overflow: hidden;
    }
    .title{
        &:hover{
            .col-cheng();
        }
        .hover-link();
    }
    .yucai-btn{
        display: inline-block;
        width: 124px;
        height: 40px;
        margin-right: 23px;
        text-indent: -99999px;
    }
    .time{
        position: absolute;
        top: 0;
        left: 0;
        background-color: rgba(243,89,41,0.8);
        padding: 10px;
        .col-bai();
    }
}

#chujia{
    select {
        border: #f35929 solid 1px;
        width: 76px;
        height: 24px;
        color: #f35929;
        line-height: 24px;
    }
    table{
        tr{
            &:hover{
                background: #f6f1ee;
            }
        }
        td{
            text-align: center;
            a:hover{
                text-decoration: underline;
                .col-cheng();
            }
        }
    }
}
#jingpai-gy,.jingpai-gy{
    width: 100%;
    padding: 6px 0;
    font-size: 18px;
    text-indent: 2px;
    margin-bottom: 14px;
    border-bottom: #2c3444 solid 4px;
}
.jiancai-list{
    ul{
        display: inline-block;
        width: 100%
    }
    li{
        position: relative;
        float: left;
        width: 200px;
        height: 240px;
        margin-right: 26px;
        border:#2c3444 solid 2px;
        overflow: hidden;
        h4{
            line-height: 24px;
        }
        p{
            padding: 4px 0;
        }
        .box{
            position: absolute;
            bottom: 0;
            left: 0;
            padding: 4px;
            width: 192px;
            .rgba-background(rgba(44, 52, 68, 0.77));
        }
    }
    .item:hover {
        -webkit-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
        transition: box-shadow 0.3s ease-in;
    }
    .ml26{
        margin-left: 26px;
    }
}