.w100{
  width: 100% !important;
}
.w160{
  width: 160px;
}
.w562{
  width: 562px;
}
.w530{
  width: 530px;
}
.w308{
  width: 308px;
}
.w312{
  width: 312px;
}
.w330{
  width: 330px;
}
.w280{
  width: 279px;
}
.w240{
    width: 240px;
}
.w200{
  width: 200px ;
}
.w276{
  width: 276px;
}
.w790{
  width: 793px;
}
.w470{
  width: 470px;
}
.w500{
  width: 500px;
}
.w590{
    width: 590px;
}
.w595{
    width: 595px;
}
.w348{
    width: 348px;
}

.w386{
  width: 386px;
}
.w840{
  width: 842px;
}
.w888{
  width: 888px;
}
.w920{
    width: 920px;
}

.w1020{
  width: 1020px;
}

.h72{
  height: 72px !important;
}
.h270{
  height: 270px;
}
.h280{
  height: 280px;
}
.h232{
    height: 230px !important;
}
.h320{
  height: 320px !important;
}
.h360{
  height: 360px !important;
}
.h480{
    height: 480px !important;
}