.w530{
  width: 530px;
}
.w308{
  width: 308px;
}
.w312{
  width: 312px;
}
.w280{
  width: 279px;
}
.w240{
    width: 240px;
}
.w590{
    width: 590px;
}
.w348{
    width: 348px;
}


.h270{
  height: 270px;
}
.h280{
  height: 280px;
}