// yucailist
#yucailist-box{
	padding: 15px 14px;
	li{
		position: relative;
	    float: left;
	    margin: 10px 11px;
	    padding: 5px;
	    background: #fff;
	    overflow: hidden;
	    width: 200px;
	    border: #ddd solid 1px;
	    .shop-img {
	    	display: block;
	    	width: 200px;
	    	height: 200px;
	    	text-align: center;
	    	overflow: hidden;
	    	img{
	    		width: 100%;
			    transition: all .6s;
	    	}
	    }
	    .time{
		    .font12;
		    padding:0 0 5px 0;
		    i{
		    	color: #f35929;
		    	font-style: normal;
		    }
	    }
	    .volume-count{
	    	.font12;
	    	padding-bottom: 5px;
	    }
	    .price{
	    	padding-top: 10px;
	    	i{
	    		font-size: 12px;
	    		font-style: normal;
	    		color: #2c3444;
	    	}
	    	.qian{
	    		font-size: 20px;
			    color: #f35929;
	    	}
	    	.zhi{
	    		font-family: '宋体';
			    width: 47px;
			    height: 14px;
			    text-align: center;
			    vertical-align: middle;
			    border: 1px solid #e5d9ad;
			    font-size: 12px;
			    background: #faffe1;
			    color: #666;
			    line-height: 14px;
	    	}
	    }
	    .title{
	    	display: block;
		    height: 46px;
		    padding: 10px 0;
		    line-height: 24px;
		    overflow: hidden;
	    }
	}
	.bg-yucai-btn{
		height: 40px;
	    padding: 12px 0 12px 10px;
	}
	.yucai-btn{
		display: inline-block;
	    width: 124px;
	    height: 40px;
	    margin-right: 23px;
	    text-indent: -99999px;
	}
}

// yucaiinfo
#product-yc{
	.jqzoom{
		width: 475px;
	    height: 475px;
	    img{
	    	width: 475px;
	    	height: 475px;
	    }
	}
	.title{
		line-height: 24px;
	}
	.yucai-time{
		width: 578px;
		background: #f6f1ee;
		border:1px solid #ddd;
		padding: 10px;
		line-height: 30px;
		margin: 10px 0;
		.time-title{
			color: #999;
		}
		.time-nums{
			font-size: 26px;
			i{
				font-style: normal;
				font-size: 30px;
				color: #F45929;
			}
		}
	}
	.info{
		font-size: 15px;
	    line-height: 22px;
	    margin-top: 0;
	    padding-bottom: 10px;
	    color: #2C3444;
	    border-bottom: 1px dotted #d9d9d9;
	}
}

.u-detal{
	table{
		border: 1px solid #e0e0e0;
		.mb20;
		.mt20;
	}
	.tr_t-tit{
		.tr_t;
		background: #f8f8f8;
	}
	.tr_t{
		background: #fff;
		height: 40px;
		line-height: 40px;
	}
}